<div class="account-type-container">

  <div class="logo">FINDMATCH</div>
  <h1 class="title">¿Qué tipo de cuenta quieres crear?</h1>
  <p class="subtitle">En función de la cuenta escogida podrás realizar diferentes funciones.</p>


  <div class="account-cards">
    <div class="account-card" routerLink="/registerUser">
      <div class="card-header">
        <h2>Usuario normal</h2>
      </div>
      <div class="card-content">
        <p>Podrás crear equipos y competiciones, jugar en uno o varios equipos y entrenar equipos.</p>
      </div>
    </div>

    <div class="account-card" routerLink="/registerReferee">
      <div class="card-header">
        <h2>Árbitro</h2>
      </div>
      <div class="card-content">
        <p>Podrás arbitrar partidos y ganar dinero, además de poder hacer todo lo de un usuario normal.</p>
      </div>
    </div>

    <div class="account-card" routerLink="/registerSportCentre">
      <div class="card-header">
        <h2>Centro deportivo</h2>
      </div>
      <div class="card-content">
        <p>Cuentas de equipos de fútbol con terreno de juego.</p>
      </div>
    </div>
    <div class="footer">
      Términos de uso · <a href="#">Política de Privacidad</a>
    </div>
  </div>
</div>
