<div class="perfil-container">
  <h2 class="perfil-title">Perfil del Jugador</h2>
  <div class="perfil-card">
    <div class="perfil-item">
      <span class="label">Nombre de usuario:</span>
      <span class="value">{{ user.handle }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Nombre:</span>
      <span class="value">{{ user.nombre }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Apellido:</span>
      <span class="value">{{ user.apellido }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Correo electrónico:</span>
      <span class="value">{{ user.email }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">1ª Posición:</span>
      <span class="value">{{ user.posicion1 }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">2ª Posición:</span>
      <span class="value">{{ user.posicion2 }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Goles:</span>
      <span class="value">{{ user.goles }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Asistencias:</span>
      <span class="value">{{ user.asistencias }}</span>
    </div>
    <div class="perfil-item">
      <span class="label">Edad:</span>
      <span class="value">{{ user.edad }}</span>
    </div>
  </div>
</div>
